
<div id="dg">
  <div class="container">
    <div class="row centered">
      <br>
      <br>
      <br>

      <div class="col-md-4">
        <div class="well"> <!--Side Bar Well -->
            <h3>Welcome <%= currentUser.firstName %> !</h3>
            <div class="row">
              <img src="/theme2/assets/img/pic4.jpg" alt="ProfilePic" class="img-circle">
              <ul class="list-unstyled">
                  <li><a href="#">Calendar</a></li>
                  <li><a href="#">Classmates</a></li>
                  <li><a href="#">Events</a></li>
                  <li><a href="/profile">Back to Home </a></li>
              </ul>
            </div> <!--row -->
        </div> <!-- div class "well" -->
      </div><!-- div class "col-md-4" -->


       <div class="col-md-8">
          <div class="pricing-option"> <!-- INDIVIDUAL CLASS/CLASS INFO TABLE -->
              <div class="pricing-top">
                  <span class="pricing-edition"> <%= ClassInfo.className %> </span>
              </div>
                    <%# For each Loop to display list of all assignments %>
               <ul>

                 <% ClassInfo.assignment.forEach((assignment)=>{ %>
                   <a href="/classes/<%= ClassInfo._id %>/assignmentdetails/<%=assignment._id%>">
                   <li id="assignment-importance"> <%= assignment.assignmentName %>, Due: <%= prettyDate(assignment.dateDue) %>
                    <i id="move" class="fa fa-pencil" aria-hidden="true"></i>
                   </a></li>
                 <% }); %>


              </ul>
              <a href="/classes/<%= ClassInfo._id %>/newassignment" class="pricing-signup">Add an Assignment</a>
              <a href="/classes/<%= ClassInfo._id %>/delete"class="pricing-signup"> Remove Class </a>

          </div><!-- div pricing-option -->
        </div><!-- div class "col-md-8" -->

   </div><!-- row centered -->
 </div><!-- container -->
</div><!-- DG -->
